body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.video-container {
    max-width: 80%;
    max-height: 80%;
}

video {
    width: 100%;
    height: auto;
}
